{% extends "imgtool/base.html" %}

{% block title %}Add Rule{% endblock %}

{% block content%}

<div class="container mt-3">
    <div>
        <form method="POST">
                {% csrf_token %}
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Set Password</button>
        </form>
    </div>
</div>

{% endblock %}